@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #644bff;
    padding: 0 20px;
}

.wrapper {
    max-width: 450px;
    margin: 150px auto;
}

.search-box-wrapper {
    display: flex;
    flex-direction: column;
}

.search-input input {
    padding: 0 16px;
    border: 0;
    outline: 0 none;
    font-size: 14px;
    height: 36px;
    width: 100%;
}

.search-box-autocomplete {
    border-top: 1px solid #7E7575;
    background: #fff;
    font-size: 14px;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.search-box-autocomplete .search-result {
    color: #7E7575;
}